<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <form action="/register" method="post" class="register-form">
            <label for="first">First Name</label><br>
            <input type="text" id="first"><br>
            <label for="last">Last Name</label><br>
            <input type="text" id="last"><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="username"><br>
            <label for="passkey">Password</label><br>
            <input type="password" id="passkey" name="password">
            <button>Submit</button>
            <div>
                <p>Already have an account?</p>
                <a href="/login" class="btn-log">Login</a>
            </div>
            
        </form>
    </header>
    
</body>
</html>